.social-media a i {
    margin: 0 0 20px 20px;
}

.main-content.jumbotron {
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-content.jumbotron p{
  margin-bottom: 0;
}

.main-content{
  padding-top: 50px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.form-row{
    padding-top: 8px;
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.footer,
.page-content{
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

#footer.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {

  #sidebar {
    margin-left: -17rem;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content {
    width: 100%;
    margin: 0;
  }

  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }

  #footer {
    width: 100%;
    margin: 0;
  }

   #footer.active {
     margin-left: 17rem;
     width: calc(100% - 17rem);
   }
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}

.error {
  color: red;
}

.img-thumbnail{
    background: none;
    border: none;
}
