<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <title>Network Graphs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<script th:src="@{/js/toggle.js}"></script>
<div layout:fragment="content">
    <div class="jumbotron main-content">
        <h1 class="display-2 text-center">Network Graphs</h1>
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>
    </div>
    <div class="container my-2" align="center">
        <div th:if="${ not#lists.isEmpty(graphs)}">
            <table style="width:80%;text-align:center" class="table table-striped table-hover table-responsive-md" th:each="graph : ${graphs}">
                <thead class="thead-dark">
                <tr>
                    <th>Node Source ID</th>
                    <th>Node Target ID</th>
                    <th>Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="link : ${graph.data.graph.links}">
                    <td th:text="${link.source}"></td>
                    <td th:text="${link.target}"></td>
                    <td th:text="${link.cost}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>